/*Consider organizing your css from least specific rule to most specific (tags, classes, then ids);*/

body {
	font-family: Helevitica; Georgia, sans-serif;
}

.thumb {
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 2px solid white;
	background-color: black;
	cursor: pointer;
	overflow: hidden;
	border: 2px solid white;

}

.thumb img {
	height: 80px;
}

.thumb:hover {
	opacity: .7;

}

.btn {

	color: white;
	background-color:black;
	padding: 20px;
	border: 1px solid white;
	cursor: pointer;
}

.btn:hover {
 opacity: .7;
}

#mainContainer {
	position: relative;
	height: 700px;
	width: 100%;
	background-color: gray;
}
#thumbs {
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: gray;
}

#mainImageContainer img { /* Missing word 'Continer' here. That's why your hand image isn't larger :) */ 
	width: 100%;
}

#controls {
	position: absolute;
	bottom: 0px;
}