/*One good way to organize your CSS is to seperate by types. Start with tags, then list classes, then ids, and then a mixture of tags, classes, and ids (like ".container #lightbox .light ")*/

body {
	margin-left:175px;
	margin-right: 39%;
	border-left-style: solid;
	border-left-color:#E0E0E0;
	padding-left: 35px;
	position = relative;
	font-size:12px;
	font-family: lato,sans-serif;
	line-height: 1.5;
}

h1 {
	font-weight: 100;
	font-size: 3.5em;
	color: red;
	padding-top: 1.5em;
	line-height:2px;
}

h2 {
	font-weight: 100;
	font-size: 24px;
	color:#606060;
	line-height:2px;
}

h3 {
	font-weight: 100;
	font-size: 1.5em;
	color:#404040;
	line-height:18px;
}

p {
	color:#606060;
	margin-left: 5px;
	padding-bottom: 5px;
}

span {
	font-size:60px;
	font-weight:100;
	padding-left:10px;
	padding-right:20px;
	color: #D8D8D8;
	float:left; height: 55px; width: 40px;
}

img {
	height:150px;
	width:100%;
}

.headmenu {
	font-size: 11px;
	word-spacing:15px;
	color:#C0C0C0;
	width: 16.66%;
	float: left;
}

.date {
	font-weight:100;
	font-size:24px;
	padding-top:1em;
	color:#C0C0C0;
}

.category {
	font-weight:100;
	font-size:11px;
	padding-top: 15px;
}

.footertitle {
	color:red;
}

.footerdivider {
	color:#C0C0C0
}

#next {
	text-align:right;
	padding-top:12px;
	padding-bottom: 10px;
	color:red;
}

#signature {
	color:#C0C0C0;
}

